body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2)
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0 auto;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 0 auto;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    max-width: 200px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

